{% extends "base_fr.html" %}
{% block title %}Page d'Aide{% endblock %}
{% block content %}
<table width=600px>
<col>
<tr>
<td>

<h1>Nini Peau d'Chien 2.0</h1>
<br>
<h3>
Un Réseau Social Open Source, Expérimental, Minimaliste
</h3>
<br>
<br>
<h3>
Présentation
</h3>
<h6>
<br>
<br>
Le but de ce site est de créer des liens 
entre personnes partageant des intérêts communs,
à distance, ou dans un voisinage proche.
<br>	
<br>




<li> Gratuit, </li>
<li> Sans publicité, </li> 
<li> Code source libre pour garantir la transparence de l'application,</li> 
<li> Pas d'utilisation commerciale des données utilisateur,</li>
<li> Cryptage des messages échangés.</li>


<br>
<br>
<br>
<br>
<h3>
Aide Utilisateur:
</h3>

<br>
<br>
<br>
<h3>1) Menu principal</h3> <br>
Cliquez le bouton en haut à droite (sur tablettes ou smartphones) 
<br>
pour afficher le menu principal 
et accéder aux différentes pages.
<br>
Si vous pouvez lire cette phrase, vous y êtes déjà arrivés, bien joué .
<br>
<br>
<br>
<h3>2) Créer un compte (Page "Mon profil" , avant la première connexion)</h3> <br>
Renseigner les différent champs dans la page "Mon profil" (nom utilisateur, mot de 
<br>
passe et date de naissance doivent être renseignés)
<br>
Vous pouvez créer de nouveaux genres, statuts et intérêts si besoin, 
<br>
mais vous ne pouvez sélectionner qu'un seul champ pour chacune de ces 3 catégories. 
<br>
Le champ e-mail sert à envoyer des notifications de reception de messages.
Laissez ce champ vide si vous ne voulez pas de notifications par e-mail<br>
<br>
<br>
<h3>3) Page "Login"</h3> <br>
Logguez vous à la page "Login" 
<br>
avec les noms utilisateur et mot de passe crées précédemment.

<br>
<br>
<br>
<h3>4) Page "Recherche" </h3> <br>
Entrez éventuellement votre position en haut de la page recherche,
<br>
(pour obtenir les coordonnées géographiques sur <a href="https://openstreetmap.org">OpenStreetMap</a>, par exemple: 
<br>
suivez le lien précédent, cliquez longtemps sur la carte sur votre emplacement et sélectionnez 'afficher l'adresse',
<br>
puis, appuyez longtemps ou faites un clic droit sur les nombres figurant les coordonnées de "latitude, longitude",  
<br>
sélectionner "copier le texte du lien" et collez le dans l'appli près du bouton "lat, long".
<br>
Faites attention d'être plus ou moins précis sur votre position,
<br>
 en fonction de vos facultés de self-defense, 
<br>
(pour votre propre sécurité, merci de ne pas les sur-estimer).
<br>
Recherchez de nouveaux amis en utilisant les critères de recherche,
<br>
vérifiez les détails d'un utilisateur, (distance en kilomètres et direction sous forme de rose des vents. parmi les 16 secteurs suivants:
<br>
"N"(Nord),"nNE","NE","eNE","E"(Est),"eSE","SE","sSE","S"(Sud),"sSO","SO","oSO","O"(Ouest), oNO","NO","nNO")
<br>
envoyez un premier message a un utilisateur sélectionné, socialisez, souriez!
<br>
<br>
<br>
<h3>5) "Page Messages"</h3> <br>
Dans la page "Messages" , vous pouvez voir tous les utilisateurs
<br>
avec lesquels vous avez échangé un premier message dans la page de recherche.

<br>
et vous pouvez leur envoyer de nouveaux messages.
<br>
Vous pouvez éventuellent supprimer une conversation complète (tous les messages échangés avec un autre utilisateur)
<br>
en un petit clic (confirmation nécessaire par une fenêtre popup).
<br>
<br>
<br>
<h3>6) "Log out"</h3> <br>
Eventuellement, Dé-logguez vous avec le bouton  "Logout". 
<br>
(un logout est réalisé automatiquement 
après 15 minutes sans nouvelle action
<br>	
<br>
<br>
<h3>7) Page "Mon profil" (si vous êtes déjà loggé)</h3> <br>
Retourner à la page "Mon profil" quand vous êtes déjà loggué
<br>
vous permet de changer vos paramètres utilisateur .
<br>

Vous pouvez aussi supprimer complètement votre profil utilisateur ainsi que 

<br>
tous les messages échangés avec tous les utilisateurs en un clic. (confirmation recquise)
<br>
<br>
<br>
<h3>8) "Considérations de sécurité
et conditions légales"</h3> <br>
Il n'y a pas de modération sur ce site,  
<br>
l'usage que vous en faites engage votre responsabilité, pas la mienne.
<br>
C'est à vous d'utiliser ce média dans le respect des lois du pays dans lequel vous utilisez ce site ainsi que des autres utilsateurs.
<br>
En ce qui me concerne, je m'engage à ne pas faire d'usage commercial de vos données, mais elles  pourraient toutefois être utilisées un jour de manière anonyme dans le cadre d'études scientifiques.
<br>
Je ne fais pas de sauvegarde des données du site, donc si il crashe, c'est regrettable, mais  ne venez pas pleurnicher, mettez vous au jardinage.
<br>
Sur ce site, n'importe quel utilisateur peut voir les données des autres utilisateurs  (excepté pour: votre date de naissance précise, votre localisation précise, votre mot de passe, 
<br>
ainsi que les messages échangés avec les autre utilisateurs qui sont privés). 
<br>
Comportez vous en conséquence. 
<br>
Ce service peut aussi disparaitre d'un jour à l'autre sans sommation préalable.
<br>
Si cela se produit, et que cela vous affecte, achetez un raspberry pi et créez votre propre site NNPDC mirroir.
<br>
<br>
<br>
<h3>9) "Comment me contacter"</h3> <br>
Si vous avez besoin de me contacter, je suis l'utilisateur "Niakniak" sur ce site
<br>
Le code source de ce site, largement perfectible, est disponible gracieusement sur :
<a href="https://github.com/khel29/ninipeaudchien2.0"> Github</a>

<br>
<br><br>

<h3>10) "Détails techniques"</h3> 
<br>
J'ai utilisé du code open source pour réaliser ce site (python, flask, MySQL),
<br>
un Raspberry Pi et un smartphone android basique pour le coder et le debugguer. Le site est actuellement toujours hébergé sur un raspberry pi.
<br>
Les applis android gratuites utilisées (pas toutes open source, faut pas la pousser dans les orties non plus) : 'Database Designer'
<br>
pour la structure de la base MySQL , 'Termius' comme client ssh , 'DB Client'
<br>
pour debugguer la base MySQL, 'Raspcontroller' pour sauvegarder les fuchiers codés .
<br>
Remarque: les bases de données de la version francaise et de la version anglaise de ce site sont distinctes.
<br>
Un compte crée sur l'une des deux versions du site n'est donc pas accessible automatiquement sur l'autre.
<br>
<br>
<h4>
le 2021/04/28, quelquepart sur Terre,
<br>
NiakNiak
<br>

<br>
<br>
<h4>
Vive la Révolution, 
</h4>
<h4>
Vive le Logiciel Libre ! 
</h4>






<br>
<br>
<h3>
11) Explication du nom de l'appli: 
</h3>
<br>
	<br>
- V1.0:  1895, Aristide BRUANT, creation du project (partie musicale).
<br>

<br>
<br>

<< À la Bastille on aime bien Nini Peau d'chien 
<br>
Elle est si bonne et si gentille! 
<br>

On aime bien , QUI CA? 
<br>
Nini Peau d'chien,OU CA?
<br>
À la Bastille.>>
<br>
<br>
Cette chanson répond à  deuxquestions:
QUI et OU, ce que permet également cette appli.
A la question pour y faire QUOI? , c'est à vous d'y répondre maintenant!

<br>
<br>
<br>




- V2.0:  2021, Niak NIAK, partie média social ajoutée 100 ans plus tard, il a fallu pour ceça attendre l'invention d'internet, d'où le 'petit' retard...

<br>
<br>
<br>
<br>



__________________________________________
<br>
<h0>Nini Peau d'Chien 2.0</h0>
<br>
<h0>
Utilisation à vos propres risques, vous êtes prévenus.
<br>
Site hébergé sur un Raspberry PI 3 B
<br>
MIT CopyLeft Niakniak 2021
<br>
<br>
</h0>



</td></tr></col></table>



{% endblock %}
