{% extends "base_fr.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
<br>

<h2>Nini Peau d'Chien 2.0</h2>
<br>
<br>
<h3>Un Réseau Social Open Source, Expérimental, Minimaliste</h3>
<br>
<h0>
<br>
Discutez avec des gens du monde entier ou de votre entourage, partagez des intérêts communs.
<br>
<br>
<li> Gratuit, </li>
<li> Sans publicité, </li> 
<li> Code source libre pour garantir la transparence de l'application,</li> 
<li> Pas d'utilisation commerciale des données utilisateur,</li>
<li> Cryptage des messages échangés.</li>
<br>
<br>

Première utilisation: 
<br>
<br>

1) Cliquez sur l'icône en haut à droite puis sur la page 'Mon profil' pour créer votre compte, 
<br>
2) Cherchez des utilisateurs dans la page 'Chercher', 
<br>
3) Sélectionnez un utilisateur, envoyez lui un premier message, puis continuez le dialogue dans la page 'Messages'.
<br>
<br>
 
MIT CopyLeft Niakniak 2021
<br>
Avec de vrais morceaux de  Raspberry Pi à l'intérieur
<br>

</h0>
{% endblock %}
